* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  size: 12px;
  color: #8E80A9;
  background-color: #FCF8FE;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #8B7EAC;
}

h1,
h2,
h3 {
  margin: 0;
}

.text_block {
  margin-bottom: 30px;
  padding-top: 30px;
}

.text_block .header_text {
  text-align: center;
}

.gallery_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 60px;
  position: relative;
  height: 91vh;
}

.gallery_block .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
}

.gallery_block .button_block {
  width: 7%;
  background-color: #3a9013a8;
  color: #fff;
  cursor: pointer;
  border: 1px solid #3a9013d9;
}

.gallery_block .button_block:hover {
  background-color: #3a9013eb;
  border: 1px solid #3a9013;
}

.gallery_block .button_block span {
  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
}

.gallery_block .container {
  width: 70%;
  position: relative;
  height: 100%;
}

.gallery_block .container .gallery_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  overflow-y: overlay;
  background-color: #dddd;
}

.gallery_block .container .gallery_items .container_small_img {
  width: 31%;
  margin: 0.8%;
  cursor: pointer;
}

.gallery_block .container .gallery_items .small_img {
  width: 100%;
}

.gallery_block .container .gallery_items .big_img {
  display: none;
}

.gallery_block .container .show {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
}

.gallery_block .show {
  display: block;
}